body {
    background-color: #ffd3ac;
    font-family: 'Franklin Gothic Medium', monospace
}

.image {
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    width: 700px;
    height: 400px;
}

h1 {
    padding: 15px;
    border: double;
    border-color: sandybrown;
    border-width: 30px;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;  
    color: saddlebrown;
}

.links {
    padding: 10px;
    font-size: 20px;
}

#openingpagetitle{
    text-align: center;
    font-weight: 500;
    color: saddlebrown;
}
